html, body {
  line-height: 1.5;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: #3f1622;
  font-weight: bold;
}

h2 {
  color: #3f1622;
  font-weight: bold;
}

nav ol {
  list-style-type: none;
}

nav ol li a {
  color: #8f2440;
  font-size: 1.125rem;
  font-weight: bold;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}
